

@charset "UTF-8";

@keyframes present {
	0% { opacity: 0;}
	20% { opacity: .2;}
	40% { opacity: .4;}
	60% { opacity: .6;}
	80% { opacity: .8;}
	100% { opacity: 1;}
}

@keyframes fading {
	0% { opacity: 1;}
	20% { opacity: .8;}
	40% { opacity: .6;}
	60% { opacity: .4;}
	80% { opacity: .2;}
	100% { opacity: 0;}
}

 @font-face {
  font-family: "symbols-nerds";
  src: url("../font/symbols-nerds.eot?27841936");
  src: url("../font/symbols-nerds.eot?27841936#iefix") format("embedded-opentype"),
       url("../font/symbols-nerds.woff?27841936") format("woff"),
       url("../font/symbols-nerds.ttf?27841936") format("truetype"),
       url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-nerds";
    src: url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
  }
}
*/
 
 [class^="icon-"]:before, 
 [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: "\62"; } /* "b" */
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-vk:before { content: "\76"; } /* "v" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-circle:before { content: "\25cb"; } /* "○" */
.icon-circle-dot:before { content: "\25cf"; } /* "●" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-instagramm:before { content: "📷"; } /* "\1f4f7" */






body {
	padding: 0;
	margin: 0;
	color: #000000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	margin-bottom: 80px;
	background: #eee;
}

.logo-and-nav {
	padding-top: 27px;
	width: 880px;
}

.logo {
	float: left;
}

.main-navigation {
	float: right;
	padding-top: 27px;
	margin-bottom: 51px;
	width: 700px;
}

.main-navigation ul {
	padding: 0;
	margin: 0;

	list-style: none;
	text-align: right;
	font-size: 0;
} 

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation li:last-child {
	margin-left: 35px;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #b1b1b1;
}

.main-navigation .active {
	border-bottom: 2px solid #fb565a;
}

.basket {
	padding-left: 30px;
}

.basket .icon-basket:before{
	margin-right: 10px;

	font-family: "symbols-nerds";
	font-size: 14px;
	line-height: 30px;
	font-style: normal;

	color: #a6a6a6;
}
.basket:hover .icon-basket:before{
	color: #fb565a;
}
.basket:active .icon-basket:before{
	color: #b1b1b1;
}

.slider {
	position: relative;
	width: 880px;
}

.slide-first,
.slide-second,
.slide-third{
	float: left;
	width: 880px;
	display: none;
}


.slide-visible{
	display: block;
}

.slide-text {
	float:left;
	width: 480px;

	padding-top: 20px;
	margin-bottom: 80px;

	font-size: 0px;
}

.slider-controls {
	position: absolute;
	top: 332px;
	right: 50%;
	z-index: 10;

	display: inline-block;
	margin-right: -25px;
	width:50px;
	min-height: 30px;

	font-size: 0px;
}

.slider-controls a {
	display: inline-block;
	vertical-align: top;

	margin-right: 9px;
	width: 4px;
	height: 4px;

	background: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 50%;
}

.slider-controls a:last-child {
	margin-right: 0px;
}

.slider-controls .current {
	background: #c1c1c1;
}
.slide-img {
	float:right;
	margin-left: 60px;
	width: 340px;
}

.slide-second .slide-img {
	float:right;
	width: 230px;
	height: 249px;
}

.slide-third .slide-img {
	float:right;
	margin-top: -19px;
	width: 333px;
	max-height: 319px;
}

.slide-img .slide-first-img {
	width: 338px;
	height: 231px;
} 

.slide-img .slide-second-img {
	width: 230px;
	height: 249px;
} 

.slide-img .slide-third-img {
	width: 333px;
	height: 319px;

}

.slide-text .slogan {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;

  	font-size: 36px;
  	line-height: 36px;
  	text-align: left;
}

.slide-text p {
	margin: 0;
	margin-bottom: 26px;
	padding: 0;

	font-size: 16px;
	line-height: 22px;
	color: #283136;
}

.btn {
	padding: 10px 0px;
	
	text-decoration: none;

	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;

	text-align: center;
	border-radius: 3px;

	background: #fb565a;
}

.btn:hover {
	background: #d6494d;
}

.btn:active {
	padding-top: 7px;
	border-top: 3px solid #9b2d30;
	
	background: #b63538;
}

.slide-text .btn {
	display: inline-block;
	vertical-align: top;

	width: 240px;

	background: #fb565a;
}

.slide-text .btn:hover {
	background: #d6494d;
}

.slide-text .btn:active {
	padding-top: 7px;
	border-top: 3px solid #9b2d30;
	
	background: #b63538;
}
.container {
	width: 880px;
	padding: 0px 10px;
	margin: 0px auto;
}

.features-row {
	padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
}

.features-row img {
	display: block;
	margin-bottom: 23px;
}

.features-row .features-title {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;

	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
}

.features-row p {
	margin: 0;
	margin-bottom: 26px;
	padding: 0;

	color: #283136;

	font-size: 15px;
	line-height: 22px;
}

.features-column {
	float:left;
	margin-right: 80px;
	width: 240px;
}

.features-column:nth-child(3n) {
	float: right;
	margin-right: 0;
	width: 240px;
}

.features-column .btn {
	display: inline-block;
	vertical-align: top;
	
	width: 140px;
}

.features-column:nth-child(1) .btn {
	background: #fb565a;
}

.features-column:nth-child(1) .btn:hover {	
	background: #d6494d;
}

.features-column:nth-child(1) .btn:active {
	padding-top: 7px;

	border-top: 3px solid #9b2d30;
	background: #b63538;
} 

.features-column:nth-child(2) .btn {
	background: #00ca74;
}

.features-column:nth-child(2) .btn:hover {
	background: #01a25e;
}

.features-column:nth-child(2) .btn:active {
	padding-top: 7px;

	border-top: 3px solid #007b47;
	background: #009053;
}

.features-column:nth-child(3) .btn {
	background: #efc84a;
}

.features-column:nth-child(3) .btn:hover {
	background: #d6ae2c;
}

.features-column:nth-child(3) .btn:active {
	padding-top: 7px;

	border-top: 3px solid #a3841f;
	background: #d6ae2c;
}



.description-content {
	padding-top: 60px;
	padding-bottom: 75px;

	border-bottom: 2px solid #eeeeee;
}

.description-left-column {
	float:left;
	margin-right: 10px;
	width: 620px;
}

.description-right-column {
	float:right;
	margin-left: 10px;
	width: 240px;
}

.description-content .description-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-right: 55px;

	font-size: 36px;
	line-height: 36px;
}

.description-left-column p {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	padding-right: 50px;

	color: #283136;
	font-size: 16px;
	line-height: 22px;
}

.description-content h3 {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	color: #283136;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
}

.description-content ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.description-content li {
	margin-bottom: 30px;

	color: #283136;
	font-size: 16px;
	line-height: 22px;
}

.description-content li:before {
	content: "";

	display: inline-block;
	width: 25px; 
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;

	background: #fb565a;	
}

.description-right-column img {
	margin-bottom: 62px;
	width: 187px;
	height: 118px;

}

.product-examples {
	margin-bottom: 85px;

	border-bottom: 2px solid #eeeeee;
}

.product-example-glukhanko {
	float:left;
	width: 240px;
	min-height: 166px;
	margin-right: 80px;
}

.product-example-htmlAcademy {
	float:left;
	width: 240px;
	min-height: 166px;
	margin-right: 80px;
}

.product-example-borodinski {
	float:right;
	width: 240px;
	min-height: 166px;
}

.product-example-glukhanko img {
	margin-top: 67px;
	margin-left: 20px;
	width: 198px; 
	height: 37px;
}

.product-example-htmlAcademy img {
	margin-top: 59px;
	margin-left: 18px;
	width: 199px; 
	height: 50px;
}

.product-example-borodinski img {
	margin-top: 43px;
	margin-left: 18px;
	width: 209px; 
	height: 116px;	
}

.product-examples img {
	opacity: .2;
}

.product-examples img:hover {
	opacity: 1;
}

.product-examples img:active {
	opacity: 1;
}

.map-and-contacts {
	position: relative;
	width: 100%;
	height: 415px;

	background: #dde2e6 url("../images/nerds-map-picture.jpg") no-repeat center;	
}

.map-and-contacts iframe {
	width: 100%;
	min-height: 415px;

	border: 0;
}

.contacts {
	position: absolute;
	top: 88px;
	left: 352px;

	width: 220px;
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 25px;

	background: #ffffff;
}

.contacts-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts p {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-size: 16px;
	line-height: 20px;

	color: #283136;
}

.contacts .btn {
	display: inline-block;
	width: 195px;
}

.social-text {
	float:right;
	width: 560px;
}

.social-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-size: 36px;
	line-height: 36px;
}

.social-text p {
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 22px;

	color: #283136;
}

.social-buttons {
	float:left;
	width: 240px;
	margin-right: 80px;

	font-size: 0px;
}

.social-buttons a {
	position: relative;

	display: inline-block;
	vertical-align: top;

	height: 59px;
	width: 61px;
	margin-right: 27px;
	padding-top: 3px;
	
	text-align: center;
	font-size: 23px;
	line-height: 59px;
	color: #ffffff;

	border-radius: 50%;
	background: #e1e1e1;
}

.social-buttons a:hover {
	background: #fb565a;
}

.social-buttons a:active {
	padding-top: 0px;

	border-top: 3px solid #b63e42;
	background: #d6494d;
}

.social-buttons a:last-child {
	margin-right: 0px;
}

.main-footer {
	padding-top: 80px;
	padding-bottom: 75px;
	background: #fff;
}



.catalog-main-title {
	float:left;
	margin: 0;
	margin-top: 11px;
	margin-bottom: 85px;
	margin-left: 18px;
	padding: 0;

	font-size: 40px;
	line-height: auto;
	text-transform: uppercase;
	text-align: center;
}

.product-filter {
	float: left;
	width:240px;
	margin-right: 80px;
}

.filter-title {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;

	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.price-filter-scroll {
	position: relative;

	width: 240px;
	height: 80px;
	margin-bottom: 15px;

	font-size: 0px;

	border-radius: 3px;
	background: #f1f1f1;
}

.price-filter-scroll span {
	display: inline-block;
	width: 4px;
	height: 4px;

	border-radius: 50%;

	background: #ababab;
	border: 8px solid #ffffff;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.scroll-left-circle {
	position: absolute;
	top: 30px;
	left: 20px;
}

.scroll-left-circle:after {
	content: "";

	position: absolute;
	top: 2px;
	left: 12px;

	width: 120px;
	height: 2px;

	background: #00ca74;
}

.scroll-right-circle {
	position: absolute;
	top: 30px;
	right: 60px;
}

.scroll-right-circle:after {
	content: "";

	position: absolute;
	top: 2px;
	left: 12px;

	width: 40px;
	height: 2px;

	background: #d7dcde;
}

.price-filter-text {
	width: 240px;
	margin-bottom: 50px;
}

.price-filter-text label {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.price-filter-text .price-filter-text-numbers {
	display: inline-block;
	width: 60px;
	margin-left: 8px;
	padding: 10px 10px;

	text-align: center;
	border-radius: 3px;
	background: #f1f1f1;
	outline: none;
	border: none;
}

.price-filter-text input[type="text"]::-webkit-input-placeholder {
	color: #5e6468;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]::-moz-placeholder {
	color: #5e6468;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]:-moz-placeholder {
	color: #5e6468;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]:-ms-input-placeholder {
	color: #5e6468;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]:focus::-webkit-input-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]:focus::-moz-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]:focus:-moz-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.price-filter-text input[type="text"]:focus:-ms-input-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.price-filter-text label:nth-child(3) {
	padding-left: 8px;
}

.grid-type-filter {
	margin-bottom: 50px;
}

.grid-type-filter label, .features-filter label {
	position: relative;

	display: block;
	margin-bottom: 15px;
	padding-left: 35px;

	font-size: 16px;
	line-height: 20px;
	color: #283136;

	cursor: pointer;
}

.features-filter input[type="checkbox"], 
.grid-type-filter input[type="radio"] {
	display: none;
}

.grid-type-filter input[type="radio"] + label:before {
	content: "\25cb";

	position: absolute;
	left: 0;
	
	font-family: "symbols-nerds";
	font-size: 28px;
	line-height: 20px;
	font-style: normal;
	color: #c1c1c1;
}

.grid-type-filter input[type="radio"]:checked + label:before {
	content: "\25cf";

	position: absolute;
	left: 0;
	
	font-family: "symbols-nerds";
	font-size: 28px;
	line-height: 20px;
	font-style: normal;
	color: #c1c1c1;
}

.features-filter {
	margin-bottom: 55px;
}

.features-filter label {
	margin-bottom: 20px;
}

.features-filter input[type="checkbox"] + label::before {
	content: "\2610";

	position: absolute;
	left: 0;
	
	font-family: "symbols-nerds";
	font-size: 28px;
	line-height: 20px;
	font-style: normal;
	color: #c1c1c1;
}

.features-filter input[type="checkbox"]:checked + label::before {
	content: "\2611"; 

	position: absolute;
	left: 0px;
	
	font-family: "symbols-nerds";
	font-size: 28px;
	line-height: 20px;
	font-style: normal;
	color: #c1c1c1;
}

.grid-type-filter input[type="radio"] + label:hover,
.features-filter input[type="checkbox"] + label:hover {
	color: #000;
}

.grid-type-filter input[type="radio"] + label:hover::before,
.features-filter input[type="checkbox"] + label:hover::before {
	color: #b5b5b5;
}

.grid-type-filter input[type="radio"] + label:active,
.features-filter input[type="checkbox"] + label:active {
	color: #c1c4c6;
}

.grid-type-filter input[type="radio"] + label:active::before,
.features-filter input[type="checkbox"] + label:active::before {
	color: #e9e9e9;
}

.show-btn {
	margin: 0;
    padding: 0;
	padding: 10px 0;
	width: 154px;

    color: #000000;

	border: none;
	outline: none;
	cursor: pointer;

	background: #f1f1f1;
}

.show-btn:hover {
	background: #e5e5e5;
}

.show-btn:active {
	padding-top: 7px;
	border-top: 3px solid #b5b5b5;
	background: #d5d5d5;
}

.product-gallery {
	float: right;
	max-width: 560px;
}

.sort-filter {
	position: relative;

	margin-bottom: 20px;
}

.sort-filter span {
	margin-right: 40px;

	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-filter a {
	margin-right: 45px;

	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;

	border-bottom: 1px dotted #00ca74;

	opacity: 0.3;	
}
.sort-filter a:hover {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;

	border-bottom: 1px solid #00ca74;

	opacity: 1;	
}

.sort-filter a:active {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;

	border-bottom: none;

	opacity: 1;	
}

.btn-down {
	position: absolute;
	top: 5px;
	right: 16px;
	
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: none;

	width: 0;
	height: 0;

	border: 5px solid transparent;
	border-top: 10px solid #c1c1c1;

	cursor: pointer;
}

.btn-active {
	border-top: 10px solid #00ca74;
}

.btn-down:focus {
	border-top: 10px solid #000000;
}

.btn-down:active {
	border-top: 10px solid #00ca74;
}

.btn-up {
	position: absolute;
	top: 0;
	right: 0;

	padding: 0;
	margin: 0;
	margin-left: 10px;
	
	width: 0;
	height: 0;

	border: none;
	outline: none;
	background: none;
	border: 5px solid transparent;
	border-bottom: 10px solid #c1c1c1;

	cursor: pointer;
}

.btn-up:focus {
	border-bottom: 10px solid #000000;
}

.btn-up:active {
	border-bottom: 10px solid #00ca74;
}

.product-gallery-items {
	width: 560px;
	font-size: 0;
}

.product-gallery-item {
	position: relative;

	display: inline-block;
	width: 240px;
	margin-right: 80px;
	margin-bottom: 80px;

	border-radius: 3px;
	background: #f1f1f1;
}

.buy-window {
	position: absolute;
	top: 50px;
	left: 50%;
    z-index: 10;

	display: none;
	margin-left: -100px;
	padding: 35px 30px 30px 30px;

	width: 140px;
	height: 135px;

	text-align: center;

	background: #fff;
}

.buy-window-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.buy-window p {
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 18px;

	color: #283136;
}

.buy-window .btn {
	display: block;

	color: #ffffff;
}

.product-gallery-item:hover {
	background: #797979;
}
.product-gallery-item:hover .buy-window{
	display: block;
}

.product-gallery-item:after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 12px;
	width: 10px;
	height: 10px;

	border-radius: 50%;
	background: #ffffff;
}

.product-gallery-item img {
	padding-top: 30px;
	width: 240px;
	height: 240px;
}

.product-gallery-item:before {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 30px;
	width: 10px;
	height: 10px;

	border-radius: 50%;
	background: #fff;
}

.product-gallery-img:after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 48px;
	width: 10px;
	height: 10px;

	border-radius: 50%;
	background: #fff;
}

.product-gallery-item:nth-child(2n) {
	display: inline-block;
	margin-right: 0;
	margin-bottom: 80px;
}

.pagination {
	font-size: 0;
	min-width: 300px;
	margin-bottom: 80px;
}

.btn-pagination {
	display: inline-block;
	vertical-align: top;
	
	padding: 10px 15px;
	margin-right: 10px;

	color: #000;

	border-radius: 2px;
	background: #f1f1f1;
}

.btn-pagination:hover {
	background: #e5e5e5;
}

.btn-pagination:active {
	padding-top: 7px;
	border-top: 3px solid #b5b5b5;
	background: #d5d5d5;
}

.pagination .btn-active {
	padding: 8px 13px;

	border: 2px solid #f1f1f1;
	background: #ffffff;
}

.btn-pagination-next {
	width: 140px;

	text-align: center;
}

.write-us {
	display: none;

	position: fixed;
	bottom: 30%;
	left: 50%;
	z-index: 20;
	
	margin-top: 380px;
	margin-left: -315px;
	padding: 55px 90px 50px 80px;

	width: 460px;

	font-size: 0;

	background: #fff;
	box-shadow: 0 15px 40px 0 rgba(0,1,1, .75);
}

.write-us-visible {
	position: fixed;
	display: block;	
}

.write-us-visible-anim{
	animation: present 0.5s;
}

.write-us-fading {
	animation: fading 0.5s;
}

.write-us.individual {
	position: static;

	display: block;
	margin: 50px auto;

	box-shadow: none;
}

.write-us div {
	margin-bottom: 20px;
	width: 220px;
}

.form-login-container {
	float: left;
	margin-right: 20px;
}

.form-email-container {
	float: right;
}

.write-us .form-mailbody-container {
	float: left;
	margin: 0;
	width: 460px;

	text-align: left;
}

.write-us .form-close {
	position: absolute;
	top: 6px;
	right: 6px;

	width: 41px;
	height: 41px;
	border-radius: 50%;

	font-size: 21px;
	line-height: 41px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-align: center;

	background: #fb565a;

	cursor: pointer;
}
.write-us.individual .form-close{
	display: none;
}

.write-us .form-close:hover {
	background: #d6494d;
}

.write-us p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	text-align: left;
	font-size: 16px;
	line-height: 18px;
}

.write-us input[type="text"] {
	padding: 10px 10px;

	color: #000000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	outline: none;
	border:2px solid #d7dcde;
	border-radius: 3px;
}

.write-us input[type="text"]:hover {
	border:2px solid #a2a9ac;
}

.write-us input[type="text"]:focus {
	border:2px solid #56bffb;
}

.write-us input[type="text"]::-webkit-input-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}
.write-us input[type="text"]::-moz-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}
.write-us input[type="text"]:-moz-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}
.write-us input[type="text"]:-ms-input-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	text-indent: 0; transition: text-indent 0.9s ease;
}

.write-us input[type="text"]:focus::-webkit-input-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.write-us input[type="text"]:focus::-moz-placeholder{
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.write-us input[type="text"]:focus:-moz-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.write-us input[type="text"]:focus:-ms-input-placeholder {
	text-indent: 5000px; transition: text-indent 0.9s ease;
}

.write-us textarea {	
	margin-bottom: 45px;
	padding: 10px 10px;

	width: 436px;
	min-height: 114px;

	vertical-align: top;

	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	outline: none;
	border:2px solid #d7dcde;
	border-radius: 3px;	
}

.write-us textarea:hover {
	border:2px solid #a2a9ac;
}

.write-us textarea:focus {
	border:2px solid #56bffb;
}

.write-us textarea::-webkit-input-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	opacity: 1; transition: opacity 0.5s ease;
}

.write-us textarea::-moz-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	opacity: 1; transition: opacity 0.5s ease;
}

.write-us textarea:-moz-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	opacity: 1; transition: opacity 0.5s ease;
}

.write-us textarea:-ms-input-placeholder {
	vertical-align: top;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	opacity: 1; transition: opacity 0.5s ease;
}

.write-us textarea:focus::-webkit-input-placeholder {
	opacity: 0; transition: opacity 0.5s ease;
}

.write-us textarea:focus::-moz-placeholder {
	opacity: 0; transition: opacity 0.5s ease;
}

.write-us textarea:focus:-moz-placeholder {
	opacity: 0; transition: opacity 0.5s ease;
}

.write-us textarea:focus:-ms-input-placeholder {
	opacity: 0; transition: opacity 0.5s ease;
}

.write-us .login {
	margin-bottom: 20px;
	width: 196px;
}

.write-us .e-mail {
	width: 196px;
}

.write-us .mail-text {
	margin-bottom: 45px;

	width: 436px;
	min-height: 114px;

	vertical-align: top;
	overflow: scroll;
}

.write-us input[type="submit"], 
input[type="reset"]{
	display: inline-block;
	vertical-align: top;

	margin-right: 20px;
	width: 220px;

	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	border: none;
	outline: none;
}

.write-us input[type="submit"] {
	color: #fff;
}

.write-us input[type="submit"]:active {
	padding-top: 12px;
	border-top: 3px solid #9b2d30;
	
	background: #b63538;
}

.write-us input[type="reset"] {
	margin-right: 0;
	color: #000;
	background: #f1f1f1;
}

.write-us input[type="reset"]:hover {
	background: #e5e5e5;
}

.write-us input[type="reset"]:active {
	padding-top: 12px;
	border-top: 3px solid #b5b5b5;
	background: #d5d5d5;
}